@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300&subset=latin,latin-ext);

body {
	font-family: Lato;
}

header {
	width: 100%;
	height: 40px;
	background: yellow;
	padding: 0 20px;
	box-sizing: border-box;
}

header > h1 {
	font-size: 28px;
	margin-top: 6px;
	line-height: 24px;
	float: left;
	font-weight: 700;
}

header > nav {
	font-size: 16px;
	margin-top: 12px;
	line-height: 12px;
	float: right;
	font-weight: 300;
}

header > nav span {
	margin: 0 10px;
}

header > nav a {
	color: inherit;
}

main {
	max-width: 800px;
	margin: 12px auto;
}

.button {
  width: 16%;
  margin: 20px auto 0 auto;
  padding: 9px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  background-color: #44BBE3;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  cursor: pointer;
}

.question {
	list-style: none;
}

.question:not(:last-child) {
	margin-bottom: 24px;
}

.question .qcontent {
	background-color: #41CBFA;
	padding: 12px 0;
	font-size: 18px;
	text-align: center;
}

.question li {
	max-width: 800px;
	margin: 2px 0;
	padding: 4px;
	background-color: #D5E5EB;
	border: 1px solid transparent;
	transition: all 0.3s ease;
}

.question > .selected {
	text-decoration: underline;
	font-weight: bolder;
	padding: 10px 10px;
	border: 1px solid black;
}

/* DO WYJEBANIA */

.correct {
	background: #9FEB52 !important;
}

.wrong, .error {
	background: #EB5252 !important;
}

/* CO ZŁEGO TO NIE JA XD */

h2 {
	background: #41CBFA;
	padding: 8px 3px;
	margin-bottom: 5px;
	text-align: center;
}

.container {
	background: #D5E5EB;
	padding: 5px 5px 20px 5px;
	margin-top: 3px;
}

.tag {
	font-size: 0.8em;
	padding: 4px;
	display: inline-block;
	background: rgba(255,255,255,0.75);
	margin: 2px;
}

.tag i {
	font-size: 1em;
}

i:hover {
	color: #41CBFA;
	cursor: pointer;
}

#quizzes-container > .quizname {
	font-size: 1.3em;
}

#addquestion {
	position: absolute;
	background: #D5E5EB;
	border: solid 3px #41CBFA;
	cursor: pointer;
	max-width: 550px;
}

#res {
	margin: 10px 0;
	background: #41CBFA;
	padding: 10px;
	color: white;
}

#admin_menu ul li {
	display: inline-block;
	padding: 7px;
}

#admin_menu ul li:hover {
	background: #41CBFA;
	cursor: pointer;
}

#admin_menu {
	width: 100%;
	padding: 5px;
	background: #D5E5EB;
	box-sizing: border-box;
}


#login_box, #register_box {
	position: absolute;
	top: 50px;
	right: 10px;
	background: #D5E5EB;
	width: 200px;
	height: 200px;
}
